.recipe-card {
    border: solid black;
    border-radius: 1em;
    margin: 2em;
    padding: 2em;
}

.food {
    width: 100%;
    max-width: 20vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}