.banner {
  background-position: 0%;
  background-color: #88e984;
  background-size: cover;
  width: 100%;
  height: 10vh;
  text-align: left;
  line-height: 10vh;
  position: fixed;
  top: 0;
  letter-spacing: 0.2em;
  padding: 0.2em;
  color: white;
  font-size: 2em;
}

.logo{
  float: left;
  height: 8vh;
  padding-right: 0.2em;
}

.logo-div{
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}

.content{
  margin-top: 10vh;
  padding: 3rem;
}