@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

.App{
  font-family: 'Ubuntu';
  overflow: hidden;
}

.banner {
  position: fixed;
  background-color: #FF6B6B;
  background-size: cover;
  height: 10vh;
  line-height: 10vh;
  top: 0;
  padding: 0.4em;
  overflow: hidden;
  bottom: auto;
  width: 100%;
}

.logo{
  float: left;
  height: 8vh;
  padding-right: 0.4em;
  vertical-align: middle;
}

.logo-div{
  letter-spacing: 0.2em;
  color: white;
  line-height: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
}

.logo-div h1{
  display: inline-block;
  font-weight: lighter;
  margin: 0;
  line-height: 10vh;
}

.content{
  max-height: 90vh;
  margin-top: 10vh;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: ltr;
  position: relative;
  top: 0;
  padding-left: 5vw;
}

.topCollection {
  min-height: 430px; /*Height of the image*/
  display: grid;
  grid-template-columns: auto auto;
}

.leftCollection {
  text-align: left;
}

.buttonCollection {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0.2em;
}

.button {
  background-color: white;
  border: 0.2em solid #FF6B6B;
  color: #FF6B6B;
  padding: 1em 2.6em;
  border-radius: 1em;
  margin: 0.2em;
}

.button:hover {
  background-color: #FF6B6B;
  color: white;
  border-radius: 1em;
}

.input-field {
  display: block;
  width: 2em;
  padding: 10px; 
}  

input[type="file"] {
  display: none;
}

.file-upload {
  background-color: white;
  border: 0.2em solid #FF6B6B;
  color: #FF6B6B;
  padding: 0.8em 2em;
  border-radius: 1em;
}

.file-upload:hover {
  background-color: #FF6B6B;
  color: white;
  padding: 0.8em 2em;
  border-radius: 1em;
}

.divider{
  width:25px;
  height:auto;
  display:inline-block;
}

textarea {
  width: 97.5%;
  height: 40vh;
  overflow-y: scroll;
  resize: none;
  border-radius: 1em;
  border: solid black;
  background-color: #fbf8c8;
}

/* width */
::-webkit-scrollbar {
  display: block;
  width: 0.8em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 20em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
